.partners-search__form {
  padding-top: 40px;
}

.partners-search-form__input {
  padding: 13px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  width: 240px;
  height: 40px;
  box-sizing: border-box;
  margin-right: 10px;
}

.partners-search-form__button {
  text-decoration: none;
  color: #ffffff;
  background-color: #ff4e50;
  border-radius: 25px;
  padding: 12px 22px;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: bold;  
}