.partners__list {
  font-family: "Montserrat";
  display: flex;
  justify-content: space-evenly;
  width: 65.3%;
  margin: auto;
  font-size: 14px;
}

.partners-list__item {
  list-style: none;
  width: 220px;
  text-align: center;
  padding-bottom: 40px;
}

.partners-list-item__name {
  font-weight: bold;
  padding: 20px;
}
