@media (max-width: 1024px) and (min-width: 721px) {
  .ideas__slide-list {
    justify-content: space-evenly;
  }
}



@media (max-width: 720px) and (min-width: 540px) {  
  .ideas__slide:nth-last-child(2) {
    margin-bottom: 20px;
  }
  
  .ideas__slide-list {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}