@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff") format("woff"),
       url("../fonts/MontnserratBold.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
}

.page__footer-divide-line {
  border: 2px #ff4e50 solid;
}
