@font-face {
  font-family: "Motserrat";
  src: url("/fonts/Montserrat\ Regular.ttf"),
       url("/fonts/MotserratBold.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto.ttf");
}

* {
  margin: 0;
  padding: 0;
}

.page__footer-divide-line {
  border: 2px #ff4e50 solid;
}
