.header__promo {
  position: relative;
  z-index: 1;
  padding-bottom: 40px;
}

.promo__baner_uppercase,
.promo__text {
  width: 33%;
  margin: auto;
  text-align: center;
  color: #ffffff;
}

.promo__baner_uppercase {
  text-transform: uppercase;
  font-size: 3.25rem;
  font-family: "Montserrat";
  font-weight: bold;
  padding-bottom: 40px;
}

.promo__text {
  display: block;
  font-family: "Roboto";
  font-size: 1.5rem;
}
