.page__header {
  background-color: rgb(255, 208, 0);
  background-image: url('./img/header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  position: relative;
}

.page__header::after {
  content: "";
  position: absolute;
  background-color: rgba(0,0,0,0.2);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}